body {
    /* background-color: black;
    color: white; */
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(grey, white)
}
/* 
.container button {
    display: block;
    cursor: pointer;
    background-color: black;
    color: white;
} */


.container button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 22px;
  padding: 0 1px 0 1px;
  position: relative;
  text-align: horizontal;
  touch-action: manipulation;
  width: 100px;
  display: block;
  
}

.container button {
  background-color: white;
  color: black;
}
.container button:hover {
background-color: lightgreen;
}
.container button {
  border-color: black;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

 
