.text-white {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.lined-up {
    display: inline;
}

form > label {
    color: white;
    font-size: large;
}

body {
    color: white;
}